<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hati.business.mapper.BusinessProfileMapper">

    <insert id="insert" parameterType="org.hati.business.vo.BusinessProfileVO">
        INSERT INTO business_profile (
            account_id,
            company_name,
            founded_date,
            biz_reg_no,
            verification_status,
            verified_at
        ) VALUES (
            #{accountId, jdbcType=NUMERIC},
            #{companyName, jdbcType=VARCHAR},
            #{foundedDate, jdbcType=DATE},
            #{bizRegNo, jdbcType=VARCHAR},
            #{verificationStatus, jdbcType=VARCHAR},
            #{verifiedAt, jdbcType=DATE}
        )
    </insert>

    <select id="selectVerificationStatusByAccountId"
            parameterType="long"
            resultType="string">
        SELECT NVL(verification_status, 'PENDING')
        FROM business_profile
        WHERE account_id = #{accountId}
    </select>

</mapper>
